@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
*{
    margin: 0;
}
.interface{
    height:100%;
  width:100%;
  background-image:url(interface.png);
  background-position:top;
    background-size:cover;
  display:flex;
  justify-content:center;
  align-items:center;
}
.nav{
	width: 435px;
	height: 50px;
	background-color: rgb(14, 179, 233);
	border-radius: 25px;
	position: absolute;
	top: 60px;
	left: 950px;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: flex;
	justify-content: center;
  }
  
  nav li {
	display: inline-block;
  }
  
  nav a {
	display: block;
	color: white;
	text-align: center;
	padding: 5px 42px;
	text-decoration: brown;
	font-size: 25px;
	font-family: 'Oswald', sans-serif;
  }
  
  nav a:hover {
	background-color: #000000;
	border-radius: 24px;
	font-size: 27px;

  }
  .sign{
	width: 130px;
	height: 50px;
	background-color : red;
	border-radius: 25px;
	margin-left: 0px;
}
  button {
	margin-left: 0;
  }
  .custom-btn {
	width: 250px;
	height: 90px;
	color: #fff;
	border-radius: 45px;
	padding: 10px 25px;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: absolute;
	top: 600px;
	left: 170px;
	display: inline-block;
	 box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
	 7px 7px 20px 0px rgba(0,0,0,.1),
	 4px 4px 5px 0px rgba(0,0,0,.1);
	outline: none;
  }
  /* 10 */
  .btn-10 {
	background: rgb(22,9,240);
  background: linear-gradient(0deg, rgb(240, 9, 32) 0%, rgb(244, 49, 62) 100%);
	color: #fbfbfb;
	border: none;
	transition: all 0.3s ease;
	overflow: hidden;
	font-size: 45px;
	font-family: 'Oswald', sans-serif;

  }
  .btn-10:after {
	position: absolute;
	content: " ";
	top: 600px;
	left: 0px;
	z-index: -1;
	width: 100%;
	height: 100%;
	transition: all 0.3s ease;
	-webkit-transform: scale(.1);
	transform: scale(.1);
  }
  .btn-10:hover {
	color: #fff;
	border: none;
	background: transparent;
  }
  .btn-10:hover:after {
	background: rgb(250, 74, 74);
  background: linear-gradient(0deg, rgb(226, 138, 148) 0%,  rgb(239, 98, 98)100%);
	-webkit-transform: scale(1);
	transform: scale(1);
  }
  .mainh1{
	height: 200px;
	width: 400px;
	/* background-color: aquamarine; */
	position: absolute;
	top: 270px;
	left: 100px;
  }
h1{
	font-size: 55px;
	color: #fff;
	font-weight: 700;
	font-family: 'Oswald', sans-serif;
  }
.mainh3{
	height: 100px;
	width: 500px;
	/* background-color: aliceblue; */
	position: absolute;
	top: 450px;
	left: 100px;
	
}
h3{
	font-size: 18px;
	color: rgba(255, 255, 255, 0.592);
	font-family: 'Oswald', sans-serif;
}
nav li.dropdown:hover .dropdown-content {
	display: block;
  }
  
  nav .dropdown-content {
	display: none;
	position: absolute;
	top: 55px;
	background-color: #f9fbfb;
	z-index: 1;
	width: 350px;
	height: 480px;
	border-radius: 8px;
}
  
  nav .dropdown-content li {
	display: block;
  }
  
  nav .dropdown-content li a {
	color: #333;
	padding: 10px;
  }
  p{
	font-size: 25px;
	margin-left: 3px;
  }
  